# If running on a user account:
#   Get login token by ctrl+shift+i, console, localStorage.token
# If running on a bot account:
#   Get login token from your app's page on the Discord developer site
LOGIN_TOKEN = ''.freeze

# Possible values:
#   :user - For running on a user account
#   :bot  - For running on a bot  account
LOGIN_TYPE = :user

# This is necessary as part of the login flow for a bot account.
# It does not have to be edited if running from a user account.
APP_ID = 123456789012345

# The directory to write logs to. This can be an absolute or relative path.
LOG_DIR = 'logs/'.freeze

# Whether or not timestamps should use the UTC timezone.
# If true, timestamps will use UTC. Otherwise, they will use local time.
USE_UTC = true
